<!doctype html>
<html>
<head>
    <title></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script src="components/webcomponentsjs/webcomponents.js"></script>

  <link rel="import" href="components/core-scroll-header-panel-master/core-scroll-header-panel.html">
  <link rel="import" href="components/core-drawer-panel/core-drawer-panel.html">
  <link rel="import" href="components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="components/core-toolbar/core-toolbar.html">
  <link rel="import" href="components/sampler-scaffold/sampler-scaffold.html">
  <link rel="import" href="components/paper-fab/paper-fab.html">
	


</head>
<body unresolved>
	<sampler-scaffold label="ChongQing GDG" fit>
		<core-drawer-panel id="drawerPanel" drawerwidth="320px" responsivewidth="{{responsiveWidth}}" touch-action>
	     	<core-header-panel id="mainHeaderPanel" main mode="cover" shadow>
				<core-toolbar class="medium-tall">
					<div class="bottom main-label fit">
						<img src="http://gdgdc.com/images/gdg/GDGredblue.png" class="gdglogoBig">
						ChongQing GDG
						<img src="http://gdgdc.com/images/gdg/GDGgreenyellow.png" class="gdglogoBig">
					</div>
						
				</core-toolbar>
				<div id="card" on-transitionend="{{cardTransitionDone}}" style="display:block"></div>
	     	</core-header-panel>
	      	<core-header-panel drawer>
				<core-menu id="menu"  on-core-select="{{ menuSelect }}">
					
				</core-menu>
	      	</core-header-panel>
	    </core-drawer-panel>
	    <paper-icon-button class="menuButton" icon="menu" role="button" tabindex="0" aria-label="menu"></paper-icon-button>
		<paper-fab class="sourceButton bottom" icon="launch" role="button" tabindex="0" aria-label="launch" onclick="window.open('https://plus.google.com/u/1/+GDGChongqing/', '_blank');"></paper-fab>

		<core-item label="重庆谷歌开发者社区简介" tag="chongqinggdg" url="templates/chongqinggdg.html" horizontal center  layout></core-item>
	</sampler-scaffold>
	 	
  

</body>
</html>
